[tcpout]
defaultGroup = netstrike_receivers

[tcpout:netstrike_receivers]
server = {{ splunk.forwarder_receiver.host }}:{{ splunk.forwarder_receiver.port }}
useSSL = false
{# sslRootCAPath = $SPLUNK_HOME\etc\auth\netstrike\receiver-ca.pem #}
{# sslVerifyServerCert = true #}
{# useACK = true #}
