[monitor:///var/log/syslog]
disabled = 0
index = {{ splunk.linux_index }}
sourcetype = linux_syslog

[monitor:///var/log/auth.log]
disabled = 0
index = {{ splunk.linux_index }}
sourcetype = linux_auth
